html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

tr:nth-child(odd) {
  background: green;
}
 
tr span, .MuiAlert-root {
  line-clamp: 2;   
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-height: 15px;      
  height: 32px;
  white-space:  normal;    
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: green;
  padding-bottom: 2px;
  margin: 0;
  color: white;
}

.controls{
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
}

.MuiModal-root input {
  background: white;
  color: black;
}
